<div class="contents">
	<div class="head_text"><span>要望修正</span></div>
	<div class="state_table">
		<%= form_tag("/hope/#{@hope.id}/update") do %>
			<div class="hope_user">
				<span>ユーザー名</span>
				<br>
				<select name="user_id" size="1">
					<option value="<%= @user.id %>"><%= @user.name %></option>
					<% for user in @users do %>
					<option value="<%= user.id %>"><%= user.name %></option>
					<% end %>
				</select>
			</div>
			<div class="hope_contents">
				<span>要望</span>
				<br>
				<textarea name="contents"><%= @hope.contents %></textarea>
			</div>
			<div class="edit_btn">
				<input type="submit" name="submit" value="登録">
			</div>
		<% end %>
		<div class="edit_btn">
			<%= form_tag("/hope/#{@hope.id}/destory") do %>
				<input type="submit" class="destroy_btn" value="削除">
			<% end %>
		</div>
	</div>
</div>