<div class="contents">
	<div class="head_text"><span>管理者登録 / 編集</span></div>
	<%= form_tag("/admin/new") do %>
		<div class="create_btn"><input type="submit" name="create" value="新規登録"></div>
	<% end %>
	<div class="state_table table_scroll">
		<table class="admin_user_table">
			<tr>
				<th>ユーザーID</th>
				<th>名前</th>
			</tr>

			<% for admin in @admins do %>
				<%= form_tag("/admin/#{admin.id}/edit") do %>
					<tr data-href="<%= "/admin/#{admin.id}/edit" %>" class="data-tr">
						<td><%= admin.user_id %></td>
						<td><%= admin.name %></td>
					</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div>
