<div class="head_text"><span>管理者情報編集</span></div>
<div class="state_table">
	<div class="recontents">
		<%= form_tag("/admin/#{@admin.id}/update") do %>
			<div class="data_contents">
				<span>ユーザID(半角数字)</span>
				<br>
				<input type="text" name="user_id" value="<%= @admin.user_id %>">
			</div>
			<div class="data_contents">
				<span>氏名</span>
				<br>
				<input type="text" name="name" value="<%= @admin.name %>">
			</div>
			<div class="data_contents">
				<span>パスワード</span>
				<br>
				<input type="password" name="pass" value="<%= @admin.pass %>">
			</div>
			<div class="data_contents">
				<span class="repass">もう一度パスワードを入力してください</span>
				<br>
				<br>
				<input type="password" name="pass_confirmation" value="<%= @admin.pass %>">
			</div>
			<div class="edit_btn">
				<input type="submit" value="更新">
			</div>
		<% end %>
	</div>
</div>