<div class="head_text"><span>徴収管理</span></div>
	<div class="create_btn">
		<%= form_tag("/money/claim", method: :post) do %>
			<input type="submit" name="claim" value="請求登録" class="side_btn">
		<% end %>
		<%= link_to "CSV出力", money_exp_csv_path(format: :csv),class: "edit_a_btn side_btn" %>	
		<div class="clear_float"></div>
	</div>
	<div class="state_table table_scroll">
		<table class="client_data">
			<tr>
				<th>ID</th>
				<th>氏名</th>
				<th>請求日</th>
				<th>請求金額</th>
			</tr>
				<% for client in @clients do %>
				<tr data-href="<%= "/money/#{client.id}/collect" %>" class="data-tr">
					<%= form_tag("/money/#{client.id}/collect", method: :post) do %>
					<% @user = User.find_by(id: client.user_id) %>
					<td><%= client.id %></td>
					<td><%= @user.name %></td>
					<td><%= client.claim_day.strftime('%Y/%m/%d') %></td>
					<td><%= client.claim %></td>		
					<% end %>
				</tr>
				<% end %>
		</table>
	</div>