<div class="contents">
	<div class="head_text"><span>入出金管理</span></div>
	<div class="choice">
		<div class="radio">
			<%= form_tag("/money/choice") do %>
			<% @radio_name.each do |radio_name| %>
				<%= radio_button_tag "choice", "#{radio_name}", (radio_name == params[:choice]) %><%= radio_name %>
			<% end %>
			<span class="edit_btn"><input type="submit" value="絞り込み"></span>
			<% end %>
		</div>
	</div>
		<div class="state_table table_scroll">
		<table id="bank_history_table">
			<tr>
				<th>日付</th>
				<th>入庫数</th>
				<th>入出金元</th>
				<th>金額</th>
				<th>返金</th>
			</tr>
			<!-- テーブルのデータ分繰り返す -->
			<% for bank in @banks do %>
				<% admin = Admin.find_by(user_id: bank.wh_id) %>
				<%= form_tag("/money/#{bank.id}/edit") do %>
				<tr data-href="<%= "/money/#{bank.id}/edit" %>" class="data-tr">
					<td><%= bank.bank_day.strftime('%Y/%m/%d') %></td>
					<td><%= bank.warehousing.to_i %></td>
					<% logger.debug("wh_id: #{bank.wh_id}") %>
					<td><%= admin.name %></td>
					<td><%= bank.money %></td>
					<td>
						<% @remine = balance(bank) %>
						<%= @remine[:message] %>

					</td>
				</tr>
				<% end %>
				
			<% end %>
			<!-- ここまで -->
				<tr>
					<td colspan="3" class="right_text">残高</td>
					<td><% if @banks == nil %>
							<%= @Balance %>
						<% else %>
							<% @remine = balance(nil) %>
							<%= @remine[:balance] %>
						<% end %>

							</td>
					<td colspan="2" class="left_text">円</td>
				</tr>

			</table>
		
				
	</div>

</div>



